@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <hr /> *@

<div class="container">
    <div class="row g-3" >
        <!-- Left Column: Carousel -->
        <div class="col-12 col-lg-9 d-flex">
            <div id="carouselExampleIndicators" class="carousel slide w-100" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/banner/banner1.png" class="d-block w-100 img-fluid" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/banner/banner2.png" class="d-block w-100 img-fluid" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/banner/banner3.png" class="d-block w-100 img-fluid" alt="Third slide">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!-- Right Column: Top Product -->
        <div class="col-12 col-lg-3 d-flex ">
            <div class="flex-fill">
                <partial name="_TopProductPartial" model="Model.ProductList.FirstOrDefault()" />
            </div>
        </div>
    </div>
</div>


<!-- Last Products -->
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase">
            <i class="fas fa-star"></i> Last Products
        </div>
        <div class="card-body">
            <div class="row g-3">
                @foreach (var product in Model.ProductList.Take(4))
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <partial name="_ProductItemPartial" model="@product" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Best Products -->
<div class="container mt-4 mb-5">
    <div class="card">
        <div class="card-header bg-primary text-uppercase">
            <i class="fas fa-trophy"></i> Best Products
        </div>
        <div class="card-body">
            <div class="row g-3">
                @foreach (var product in Model.ProductList.TakeLast(4))
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <partial name="_ProductItemPartial" model="@product" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
